node_modules/
dist/
build/
coverage/
.pytest_cache/
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env
**/.env
*.log
*.tmp
.DS_Store
.idea/
.vscode/
blockchain/chaincode/lexnet-cc/.gomodcache/
blockchain/chaincode/lexnet-cc/lexnet-cc
blockchain/network/channel-artifacts/
blockchain/network/crypto-config/
blockchain/network/fabric-ca/
fabric-samples/
nlp/models/
